html, 
body {
    font-size: 16px;
}

body {
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.content {
    padding: 1rem;
}

.box-rectangle {
    width: 100%;
    overflow: hidden;
}

.box-rectangle__item {
    background-color: teal;
}

.box-controllers {
    padding: 1rem;
}